.paragraph {
    color: #201B10;
    font-weight: 400;
    font-size: 30px;
    line-height: 110%;
    text-align: center;
}

.paragraph > span {
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    flex-grow: 1;
}