@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.button {
    background: #CB81FF;
    border-radius: 10px;
    padding: 5px 135.5px;
    display: flex;
    place-items: center;
}

.description {
    color: #201B10;
    font-weight: 400;
    font-size: 35px;
    line-height: 110%;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}